.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--light-color);
    border-top: 2px solid var(--dark-color); 
    border-bottom: 2px solid var(--dark-color);
    z-index: 10;
}

.navbar img {
    width: 40px;
}

.navbar > ul {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar > ul li {
    font-size: 1em;
}

.navbar > ul li:last-child {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: .7rem 1.5rem;
    border-radius: 10px;
}